@import 'chrome://dtaac-pf/skin/prefpane.css';

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

radio[pane="divPaneGeneral"] {
	-moz-image-region: rect(0px, 32px,  32px, 0px);
}
radio[pane="divPaneChanges"] {
	-moz-image-region: rect(0px, 160px,  32px, 128px);
}

radio[pane="acPane"]
{
	list-style-image: url(chrome://dtaac-icon/content/icon.png) !important;
}
#acListPlugins > richlistitem {
	padding: 3px;
	-moz-binding: url(chrome://dtaac/content/bindings.xml#acplugin);
	background-image: url(plugin-disabled.png);

}
#acListPlugins > richlistitem[activated="true"] {
	background-image: none;
}
#acListPlugins > richlistitem[selected="true"] {
	-moz-binding: url(chrome://dtaac/content/bindings.xml#acplugin-selected-inactive);
}

#acListPlugins > richlistitem[selected="true"][activated="true"] {
	-moz-binding: url(chrome://dtaac/content/bindings.xml#acplugin-selected-active);
}

#acListPlugins > richlistitem .checkbox-label-box {
	display: none;
}

acplugininner {
	-moz-binding: url(chrome://dtaac/content/bindings.xml#acplugin-inner);
	opacity: 0.7;
}
acplugininner[activated="true"] {
	opacity: 1.0;
}
.acplugin {
		margin: 1ex;
}

.acplugin-label {
	font-weight: bold;
}
.acplugin-position {
	font-style: italic;
	width: 3ex;
	text-align: right;
}

.acplugin-date-text,
.acplugin-priority-text {
	width: 10ex;
}

.acplugin-info-label {
	text-align: right;
	opacity: 0.35;
}

.acplugin-icon {
	height: 16px;
	width: 16px;
	margin: 0.5ex;
	list-style-image: url(ptypes.png);
}

.acplugin-icon[ptype="resolver"] {
	-moz-image-region: rect(0px, 32px, 16px, 16px);
}
.acplugin-icon[ptype="redirector"] {
	-moz-image-region: rect(0px, 48px, 16px, 32px);
}
.acplugin-icon[ptype="sandbox"] {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}
.acplugin-icon[ptype="expander"] {
	-moz-image-region: rect(0px, 64px, 16px, 48px);
}